@page "/SmartAdminUI"
@using Microsoft.Extensions.Localization
@using global::Ediux.ABP.Features.SmartAdminUI.Localization
@inject IStringLocalizer<SmartAdminUIResource> L
@{
}
<h1>SmartAdminUI</h1>
<p>@L["SamplePageMessage"]</p>