@page
@using Microsoft.Extensions.Localization
@using Ediux.HomeSystem.Plugins.HololivePages.Localization
@model Ediux.HomeSystem.Plugins.HololivePages.Web.Pages.HololivePages.IndexModel
@inject IStringLocalizer<HololivePagesResource> L
@{
}
<h1>HololivePages</h1>
<p>@L["SamplePageMessage"]</p>
