@using Ediux.HomeSystem.Models.DTOs.SystemSettings
@model BatchSettingsDTO
@inject IHtmlLocalizer<HomeSystemResource> L
<form id="BatchSettingsForm">
    <abp-row>
        <abp-column size-md="_12">
            <div>
                <abp-input asp-for="Timer_Period" label="@L[HomeSystemResource.Settings.BatchSettings.Timer_Period].Value" />                
            </div>
            <hr class="my-4" />
            <div>
                <abp-button button-type="Primary" type="submit"><i class="fa fa-save"></i> @L[HomeSystemResource.Buttons.Save]</abp-button>
            </div>
        </abp-column>
    </abp-row>
</form>