@using Microsoft.AspNetCore.Mvc.Localization
@using Ediux.HomeSystem.Models.DTOs.SystemSettings
@using Microsoft.AspNetCore.Authorization
@using Ediux.HomeSystem.Permissions
@inject IAuthorizationService authService
@inject IHtmlLocalizer<HomeSystemResource> L
@model SystemSettingsDTO
@{
    var isReadonly = await authService.IsGrantedAsync(HomeSystemPermissions.Settings.Execute);
}

<form id="WebSiteSettingsForm">
    <abp-row>
        <abp-column size-md="_12">
            <div>
                <abp-input asp-for="WebSite" label="@L[HomeSystemResource.Settings.WebSettings.WebSite].Value" readonly="isReadonly" />
            </div>
            <hr class="my-4" />
            <div>
                <abp-button button-type="Primary" type="submit" disabled="isReadonly"><i class="fa fa-save"></i> @L[HomeSystemResource.Buttons.Save]</abp-button>
            </div>
        </abp-column>
    </abp-row>
</form>
