@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Ediux.HomeSystem.Localization
@using Volo.Abp.Users
@model Ediux.HomeSystem.Web.Pages.IndexModel
@inject IHtmlLocalizer<HomeSystemResource> L
@inject ICurrentUser CurrentUser
@section styles {
    <abp-style src="/Pages/Index.css" />
}
@section scripts {
    <abp-script src="/Pages/Index.js" />
}
<abp-container>
    <div id="MyDashboardWidgetsArea">
        <abp-row>
            <abp-column>
                @await Component.InvokeAsync("WelcomeWidget")
            </abp-column>
        </abp-row>
    </div>
</abp-container>

