@page
@using Microsoft.Extensions.Localization
@using Ediux.ABP.Features.SmartAdminUI.Localization
@model Ediux.ABP.Features.SmartAdminUI.Web.Pages.SmartAdminUI.IndexModel
@inject IStringLocalizer<SmartAdminUIResource> L
@{
}
<h1>SmartAdminUI</h1>
<p>@L["SamplePageMessage"]</p>
